html,
.body,
div.container {
  background-color: black;
  margin-bottom: 0;
}

div.jumbotron {
  background-color: darkslategray;
  margin-bottom: 0;
}

h1 {
  color: darkorange;
}

label {
  color: white;
}

a.btn {
  margin: 0 1em;
}
